azure-functions==1.21.3
openai==1.58.1
python-dotenv==1.0.1
pillow==11.0.0
requests-html==0.10.0
azure-cosmos==4.9.0
azure-ai-documentintelligence==1.0.0
azure-identity==1.19.0
PyMuPDF==1.25.1
PyPDF2==3.0.1
langchain==0.3.12
langchain-core==0.3.25
langchain-community==0.3.12
langchain-openai==0.2.12
tiktoken==0.8.0
python-multipart==0.0.20
azure-ai-formrecognizer==3.3.3
pandas==2.2.3