# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
openai
python-dotenv
pillow
requests_html
azure-cosmos
python-dotenv
azure-ai-documentintelligence
azure-identity
PyMuPDF
tiktoken
python-multipart
promptflow-evals
jsonpath-ng
thefuzz
seaborn
semantic-kernel
jupyter