# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Testing
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.md
!README.md
.git
.gitignore
